.btn-add {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &__icon {
    color: $color-primary;
    margin-top: 0.5rem;
    margin-left: 0.6rem;
  }
}

.btn-standard {
  color: $color-primary;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: $font-size-md;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0.6rem 1.5rem 0.8rem 1.5rem;

  &:hover {
    background-color: rgba($color-dark-gray, 0.8);
  }

  &--disabled {
    @extend .btn-standard;
    color: rgba($color-primary, 0.5);
    cursor: not-allowed;

    &:hover {
      background-color: $color-dark;
    }
  }
}
